<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167250737225-ejfirfrt2k47ouoblnq6l7h9r0vf1r77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167250737225-ejfirfrt2k47ouoblnq6l7h9r0vf1r77</string>
	<key>API_KEY</key>
	<string>AIzaSyCsTXMqSAT-QkFopwFEG6Y9JyfG1XbV3bA</string>
	<key>GCM_SENDER_ID</key>
	<string>167250737225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dsymUpload</string>
	<key>PROJECT_ID</key>
	<string>dsym-upload</string>
	<key>STORAGE_BUCKET</key>
	<string>dsym-upload.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167250737225:ios:3dc4b673fe5ab25b736798</string>
</dict>
</plist>